SECRET_KEY=django-insecure-djancar-diploma-very-long-secret-key-2026
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# PostgreSQL
DB_NAME=djancar
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5432

# Yandex Maps API
YANDEX_MAPS_API_KEY=b5e72e64-eaed-42a4-ae58-307175123276
